# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Logs and database files
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
#  Usually these files are written by a Python application packaged with PyInstaller
*.manifest
*.spec

# Sphinx documentation
docs/_build/

# Local environment configuration
*.local

# IDE files
.vscode/
.idea/

# Docker-specific files
Dockerfile
.dockerignore

outputs
VideoSys
cache